.home {
    .home_menu {
        width: 100%;
        // height: 120px;
        padding: 15px 0;
        display: flex;
        justify-content: space-evenly;

        .vertical_line {
            width: 1px;
            height: 20px;
            background-color: #d0caca;
        }
    }

    .divided {
        width: 100%;
        height: 1px;
        background-color: #d0caca;
    }
 
    .date_container {
        // padding: 10px;
        padding: 10px 10px 0px 10px;
        .menu { 
            display: flex;
            justify-content: space-between;
            .icon {
                padding: 10px;
                width: 46px;
                height: 46px;
            }
            :global .ant-tabs {
                max-height: 46px;
            }
            :global .ant-tabs-nav {
                margin: 0;
            }
            :global .ant-tabs-content-holder {
                // visibility: hidden;
                max-height: 0px;
            } 
        }
        .date {
            position: relative;
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .date_div {
                width: 100%;
                display: flex; 
                // justify-content: space-between;
                .carousel_container {
                    min-width: 200px;
                    max-height: 27px;
                    .arrow {
                        color: red;
                        font-size: 20px;
                    }
                }
                .date_item {
                    margin-right: 8px;
                    min-width: 27px;
                    width: 27px;
                    height: 27px;
                    // color: black;
                    text-align: center; 
                    border-radius: 50%;
                    position: relative;
                }
                
                .date_item_arrow {
                    margin-right: 12px;
                    min-width: 27px;
                    width: 27px;
                    height: 27px;
                    text-align: center;
                    span {
                        color: #d0caca;
                    }
                    // padding: 9px;
                } 
            }
            .text_div {
                width: 46px;
                height: 46px;
                .text_today {
                    font-size: 11px;
                    font-weight: 300;
                    color: #3766ff; 
                }
            }
            .high_light {
                position: absolute;
                height: 20px;
                width: 250px;
                background: rgba(55, 156, 255, .18);
                border: 2px ;
                top: 3px;
                left: 30px;
                // right: 3px;
                border-radius: 25px;
                // .background_div {
                //     width: 100%;
                //     background: rgba(55, 156, 255, .18);
                //     border-radius: 50%;
                // }
            }
        }
    } 
    .load_more {
        position: relative;
        // margin-bottom: 20px;
        .divided_load_more {
            width: 19px;
            height: 19px;
            background: #939393;
            border-radius: 50%;
            position: absolute; 
            top: -10px;
            right: 50%;
        }
        .inside {
            width: 17px;
            height: 17px;
            background: white;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            right: 1px;
            .down_arrow {
                position: absolute;
                top: 4px;
                right: 5px;
                font-size: 8px;
            }
        }
        
    }
    .dashboard_container {
        width: 100%;
        padding: 34px;
        .header {
            display: flex;
            justify-content: space-between;
            span {
                font-size: 12px;
            }
            .icon {
                color: #3766ff;
                font-size: 20px;
            }
        }
        .card_list {
            margin-top: 25px;
            width: 100%;
            --auto-grid-min-size: 9rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
            grid-gap: 1rem;
            .card {
                text-align: center;
                padding: 23px;
                height: 175px;
                width: 147px;
                border-radius: 4.75px;
                border: 1px solid #d0caca;
                .title {
                    display: flex;
                    justify-content: center;
                    color: #3766ff;
                    // margin-bottom: 30px;
                    span {
                        font-size: 16px;
                    }
                    .icon {
                        margin-top: 4px;
                        font-size: 17px;
                        margin-right: 4px;
                    }
                }
                .num {
                    font-size: 40px;
                }
                .descript {
                    font-size: 13px;
                    font-weight: 300;
                    color: #939393;
                }
            }
        }
    }
}
.table_view {
    width: 100%;
    margin-top: 15px;
    .menu_container {
        display: flex;
        // justify-content: space-between;
        .menu_item {
            padding: 0px 7px;
            margin-right: 5px;
            border-radius: 14.5px; 
            height: 29px; 
            .icon {
                font-size: 12px;
                margin-right: 0px;
            }
            span {
                font-size: 12px;

            }
        }
    }
    .graph_container { 
        height: 300px; 
    }
    .table_container {
        width: 100%;
        margin-top: 20px;
        .list_item {
            display: flex;
            margin-bottom: 8px;
            .range {
                margin-top: 10px;
                margin-right: 10px;
                padding: 0px 7px;
                color: white;
                min-width: 22px;
                min-height: 22px;
                width:22px;
                height: 22px;
                border-radius: 50%;
                background-color: black;
            }
            .list_detail {
                display: flex;
                justify-content: space-between;
                padding: 9px 7px;
                border: 1px solid #d0caca;
                border-radius: 4.5px;
                height: 44px;
                width: 316px;
                .left {
                    display: flex;
                    .text_content {
                        margin-left: 7px; 
                        .text1, .text2 {
                            margin-bottom: 0em;
                        }
                        .text1 {
                            font-size: 9px;
                        }
                        .text2 {
                            font-size: 7px;
                        }
                    }
                }
                .right {
                    display: flex;
                    .divider {
                        margin-right: 10px;
                        height: 100%;
                        width: 1px;
                        background-color: #d0caca;
                    } 
                    .icon {
                        color: #3766ff;
                        margin-top: 3px;   
                        margin-right: 5px;  
                    }
                    .text3 {
                        font-size: 8px;
                        margin-top: 5px; 
                    }
                }
            }
        }
    }
}