.navbar {
  
    .group_menu {
        display: flex;
        justify-content: space-between;

        .menu {
            text-align: center;

            img {
                margin: auto;
            }

            p {
                margin: auto;
                font-size: 8px;
                font-weight: 300;
                letter-spacing: .4px;
                color: #d0caca;
            }
        }
    }

    .comment_bar {
        padding: 29px 24px;
        display: flex;
        justify-content: space-around;
        .input_comment {
            border-radius: 14.442px;
            border: .5px solid #939393;
            width: 199px;
            height: 49px;
            // overflow: hidden;
        }
    }
}